# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: no-commit-to-branch
  - repo: https://github.com/ducminh-phan/reformat-gherkin.git
    rev: v3.0.1
    hooks:
      - id: reformat-gherkin
        files: ^features/metrics/
  - repo: https://github.com/srstevenson/nb-clean
    rev: 2.4.0
    hooks:
      - id: nb-clean
  - repo: local
    hooks:
      - id: poetry-check
        name: validate pyproject.toml
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$
      - id: poetry-lock
        name: check poetry.lock
        entry: poetry lock --check
        language: system
        always_run: true
        pass_filenames: false
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: poetry run flake8
      #   language: system
      #   pass_filenames: false
      #   types: [python]
      # - id: mypy
      #   name: mypy
      #   entry: poetry run mypy --follow-imports=silent
      #   language: system
      #   pass_filenames: false
      #   types: [python]
exclude: (^docs/)
